- @body_id = 'about'

#head_shot
  = image_tag('temp_dkw_headshot.jpg')

#about_info
  %h1
    Meet Daryl
  %p
    Daryl Wong is the president of TULA Investment Group. He has over 20 years of investment management experience and is a certified ___________. 

  %p
    Daryl graduated from UC Davis in 1980 with a B.S. in Managerial Economics and went to work for Arthur Andersen. He worked in the tax department of the San Francisco office and became a CPA in 1984. 

  %p
    In 1985 Daryl left Arthur Andersen to become the controller at Henry Gertmenian Co., the largest importer and wholesaler of Oriental Rugs in the western United States. He also became manager of the China import division, responsible for production, ordering and quality control and has taken numerous trips to China. He worked at Henry Gertmenian Co. for over 27 years before deciding to put his full energies into growing TULA Investment Group.

  %p
    On a personl note, Daryl has been married since 1982 to his college sweetheart and is the proud parent of four grown children.  In his free time Daryl likes to exercise and follow the San Francisco Giants.
