- @body_id = 'Acquisitions'
%title
  2013 Acquisitions | TULA

#acquisitions_container
  %h1
    2013 Acquired Companies
  %h3
    For the eight months ending August 31, 2013
  %table.return
    %tr
      %th Company
      %th Price at 1/1/13
      %th Buy Out Price
      %th Return
    - a = Acquisition.order(:id).all
    - a.each do |i|
      %tr
        %td
          #{i.company}
        %td
          #{number_to_currency(i.initial_price, :unit => "$", :precision => 2)}
        %td
          #{number_to_currency(i.acquisition_price, :unit => "$", :precision => 2)}
        %td
          #{((i.return)*100).round(1)}%
  / %p On 6/10/13, the deal for the buy out of Virgin Media by Liberty Global was completed. Virgin Media shareholders received $17.50 for each share they owned plus stock in Liberty Global. Total return including both cash payments and receipt of Liberty Global stock equates to a 35% return over the 1/1/13 valuation.