- @body_id = 'contact'

%p
  %strong TULA Investment Group
  %br
  2918 Holyrood Dr.
  %br
  Oakland, CA 94611
  %br 
  Phone: 510-390-4774
  %br
  Email: 
  = link_to 'darylwong@tulainvestmentgroup.com', 'mailto:darylwong@tulainvestmentgroup.com'