- @body_id = 'contact'

#contact_info
  %h1.contact_header
    TULA Investment Group, LLC
  .contact_details
    2918 Holyrood Drive
  .contact_details
    Oakland, CA 94611
  .contact_details
    Phone: (510) 390-4774
  .contact_details
    Email: 
    = link_to 'darylwong@tulainvestmentgroup.com', 'mailto:darylwong@tulainvestmentgroup.com'

#contact_connect
  %h1.contact_header
    Connect with TULA:
  / = link_to 'http://www.linkedin.com/pub/daryl-wong/63/394/39b', :target => 'blank', do
  /   = image_tag('linkedin_logo.png')
  / = link_to 'https://www.facebook.com/daryl.wong.509', :target => 'blank', do
  /   = image_tag('fb_logo.png')
  / /= link_to 'mailto:darylwong@tulainvestmentgroup.com', do
  /   = image_tag('gmail_logo.png')
