- @body_id = 'home'

#home_image
  = image_tag('sf_test.jpg')

#mission_statement
  %p
    TULA Investment Group is a certified investment management company specializing in customized equity and bond portfolios. TULA has a proven proven track record of beating the market. We look forward to working with you to meet your investment objectives.
/ #home_copy
