- @body_id = 'home'
%title
  TULA Investment Group

#home_image
  = image_tag('sf_skyline.jpg')

#mission_statement
  %p
    TULA Investment Group is a Registered Investment Advisor with California specializing in customized equity and bond portfolios. TULA has a proven track record of beating the market. We look forward to working with you to meet your investment objectives.
/ #home_copy
