- @body_id = 'home'

%p
  Welcome to TULA Investment Group. We will get some more information on this page in no time. For now let's just type a few paragraphs to see how it looks.
%p
  This is a paragraph.
%p
  This is also a paragraph. blah blah blah...
