- body_id = 'prospectus'
%title
  Prospectus | TULA

#prospectus_container
  .prospectus_section
    %h3.prospectus_heading
      INVESTMENT PRINCIPALS
    %p.prospectus_body
      I have been investing in the stock market since 1995.  My average annual return over the last eighteen years is 15% while the S & P 500 average is 10%. My investment style is a combination of value investing, contrarian and creatively finding the next trend before it happens. I tend to buy and hold for many years.  I try to take a simple approach. I avoid the exotic investment. I find that it’s a more reliable to make money. I do not short. I do not trade puts and calls, nor futures or swaps.  I do not buy on margin. I invest my clients money the way I invest my own.  I try to make returns that beat the market while also trying to minimize risk.  

  .prospectus_section
    %h3.prospectus_heading
      INVESTMENT STRATEGIES
    .prospectus_sub_heading
      Value Investing:
    %p.prospectus_body
      I tend to invest more heavily in small cap stocks than most investment managers.  I have found that investing in attractively valued under-the-radar small cap stocks have excellent growth potential. They are also more likely to be acquisition targets for larger companies.  My best years have been when this has happened. Already this year I have had four companies that are being acquired or being taken private. This has resulted in 25% to 30% gains in one day for each of these companies. Although I have a better chance to make outsized gain with small caps, I also buy some larger more established companies to help keep the portfolio from becoming too volatile. To balance their volatility, I do invest in some larger, more mainstream companies such as Chevron and Walmart.  These companies are very stable and will give you consistent and solid returns.
    .prospectus_sub_heading
      Creative Research Investing:
    %p.prospectus_body
      An example of creatively finding the next trend are gun stocks.  With all the heart breaking news connected with the sad shootings in Columbine, Aurora, Virginia Tech, Newtown, Connecticut and many more, there has been a cry for more stringent gun control.  This has caused gun stocks to soar because people who are thinking about buying a gun are doing it now.  It was also a bet that Obama would win the election last November.  If the Republican candidates had won, there would not be such a push for gun control which ironically would have been bad for gun stocks.  The gun stocks gained more than 300% over the last five years. By the way, I do not own any guns and I am not a gun enthusiast.  But I am an enthusiast of making a profit!
    .prospectus_sub_heading
      Contrarian Investing:
    %p.prospectus_body
      An example of a contrarian investment would be Bank of America.  Nobody wanted to touch this company in 2011 and the price did fall a lot during that year.  Despite the continued decline in the price of Bank of America I purchased shares in January, June and September of 2011 as well as February of 2012.  In 2012 Bank of America came roaring back, more than doubling its value and now I am in a gain position. The price fell so far that it seemed like the only way it would not make a great investment is if it went out of business and it’s just too big to do that.  If the government would not let AIG go out of business during the mortgage meltdown of 2007 to 2009 than I reasoned that B of A would also survive and in the long run prosper.  I have large holdings of B of A and I could easily see holding it for ten years.  During the next ten years I see them putting their mortgage problems behind them and seeing the price go back to pre-mortgage meltdown prices.  If I’m correct, that would mean a quadrupling of its current price. Obviously B of A is not a small cap company but fely that it was oversold and the contrarian investor in me saw this as a good opportunity.

  .prospectus_section
    %h3.prospectus_heading#history
      INVESTMENT HISTORY
    %p.prospectus_body#history
      (#{link_to('see the numbers', why_path)})
    %p.prospectus_body
      As mentioned earlier, over the last eighteen years I have averaged 15% annual return on investment.  I believe that actually understates my performance and the these are the reasons. During the stock meltdown of 2008 the investors that did the best were the ones that held on to their stocks. Unfortunately and understandably, many investors panicked and sold their stocks.  By doing so they missed out on the 2009 and 2010 rebound.  Not only did I not sell stocks at that time, I gritted my teeth and bought more stocks at the end of 2008. The market continued to tumble so I held my breath and continued to buy in early 2009.  My thoughts were that the market was very much oversold and that stocks were grossly undervalued.  In March 2009, the market hit bottom and has gradually worked its way back to where it was before the crash where it presently sits.  Because I had bought stocks when they were near the bottom, I completely recovered all my losses by the second quarter of 2010.  Everything after that has been gravy.  Only now, six years later has the market come back to even with its pre-crash highs. The 2007-2008 stock market meltdown was actually good for me. It allowed me to opportunistically buy stocks at good values and my 15% average annual return understates my performance because I had more money invested in the 2009 and 2010 bounce back years.  One of the stocks I bought was Tyson Foods in November 2008 which I still hold and is worth more than four times the amount I bought it for.  Also in November 2008 I bought Esterline Technoligies which I am still holding it and is currently worth two and a half times what I paid for it.  I bought Venoco two separate times in January 2009 and again in February 2009. The company was acquired in October 2012 for more than six times the price I paid for it.
