- body_id = 'prospectus'
%title
  Prospectus | TULA

#prospectus_container
  .left_column
    %ul 
      #prospectus_nav_title Quick Navigation:
      - render_prospectus_link 'Introduction', 'introduction'
      - render_prospectus_link 'Investment Principles', 'investment-principles'
      - render_prospectus_link 'Investment Strategies', 'investment-strategies'
      %ul
        - render_prospectus_sub_link 'Value Investing', 'value-investing'
        - render_prospectus_sub_link 'Creative Research', 'creative-research'
        - render_prospectus_sub_link 'Contrarian Investing', 'contrarian-investing'
      - render_prospectus_link 'Investment History', 'investment-history'
      %ul
        - render_prospectus_sub_link 'Dot-Com Boom', 'dot-com-boom'
        - render_prospectus_sub_link 'Dot-Com Bust', 'dot-com-bust'
        - render_prospectus_sub_link 'Dot-Com Recovery', 'dot-com-recovery'
        - render_prospectus_sub_link 'Mortgage Meltdown', 'mortgage-meltdown'
        - render_prospectus_sub_link 'Sustained Recovery & Expansion', 'sustained-recovery-and-expansion'
      - render_prospectus_link 'Fee Structure', 'fee-structure'
      - render_prospectus_link 'Summary', 'summary'

      / %li Introduction
      / %li Investment Principles
      / %li Investment Strategies
      / %li Investment History
  .right_column
    - render_prospectus_section 'INTRODUCTION', 'introduction' do
      %p.prospectus_body
        My name is Daryl Wong and I am pleased to introduce you to TULA Investment Group. In this prospectus I will articulate my investment principles and how they compare with other investment funds. I will share some of my fundamental investment strategies (value, creative research, and contrarian) and provide some past examples of each type of investment. I will also give a brief history of my investments and how I have been able to opportunistically take advantage of the market. Finally, I will show how I structure my investments to make sure our interests are properly aligned on maximizing return and minimizing risk. I hope this prospectus gives you a good understanding of my investment style and the principles I employ when investing for my clients.

    - render_prospectus_section 'INVESTMENT PRINCIPLES', 'investment-principles' do
      %p.prospectus_body
        I have been investing in the stock market since 1995. My average annual return over the last 19 years is 15.8% while the S&P 500 average is 10.7%. Due to the nature of compounding interest, investing with me over that 19-year period would have yielded a return of over 10 times the initial investment. Compare that to the S&P 500 where you would have increased your money by just 4.9 times. Add it all up and I can safely say that I have consistently beaten the market over my investment career; in fact I have doubled it.
      %p.prospectus_body
        My investment style is a combination of value investing, contrarian and creatively finding the next trend before it happens. I invest for the long run and tend to buy and hold for many years. I try to take a simple approach. I avoid the exotic investment. I do not short. I do not trade puts and calls, nor futures or swaps. I do not buy on margin. I invest my clients’ money the way I invest my own. I try to make returns that beat the market while also trying to minimize risk.
      %p.prospectus_body
        As John Bogle, the founder of Vanguard Group, wisely stated, “To earn consistently high returns you should invest with simplicity. Rely on ordinary virtues such as common sense, thrift, realistic expectations, patience and perseverance. Call them ‘character.’ And in investing, over the long run, character will be rewarded.”

    / .prospectus_section
    /   %h3.prospectus_heading
    /     INVESTMENT STRATEGIES
    - render_prospectus_section 'INVESTMENT STRATEGIES', 'investment-strategies' do
      / .prospectus_sub_heading
      /   Value Investing:
      - render_prospectus_sub_section 'Value Investing', 'value-investing' do
        %p.prospectus_body
          I tend to invest more heavily in small cap stocks than most investment managers. I find that investing in attractively valued, under-the-radar small cap stocks has excellent growth potential. These kinds of stocks are also more likely to be acquisition targets for larger companies. My best years have been when this has happened. Already this year I have had seven companies that are being acquired or taken private. This has resulted in daily gains of 20% to 115% for each of these acquired companies. Please see the attached Schedule B - 2013 Acquired Companies for more detail on these companies.
        %p.prospectus_body
          Although I have a better chance to make outsized gain with small caps, I also buy some larger, more established companies to help keep the portfolio from becoming too volatile such as Pfizer and Walmart. These companies are very stable and provide consistent and solid returns, which act as the perfect complement to the high growth potential of the small cap stocks.
      / .prospectus_sub_heading
      /   Creative Research Investing:
      - render_prospectus_sub_section 'Creative Research', 'creative-research' do
        %p.prospectus_body
          I use creative research to get an edge on selecting stocks that will perform well. By carefully observing technological, social, and political trends and purchasing stock accordingly, I have been able to make fruitful investments. My goal here is to constantly keep an eye on the changing times to discover and invest in trends before they happen.
        %p.prospectus_body
          An example of how I creatively found the next investment trend was observing and predicting what would happen as a result of increased gun violence. With each horrific and heart-breaking mass shooting we hear about – in Columbine, Aurora, Virginia Tech, Newtown, and many more – there has been a cry for more stringent gun control. As a result, gun stocks soared as gun owners and those who had considered buying a gun stocked up, fearing it may soon be illegal. In addition, I factored in the odds that Obama would win the election last November. If the Republican candidates had won, there would not be such a push for gun control which ironically would have been bad for gun stocks. The gun stocks which I invested in (Strum Ruger and Smith & Wesson) gained more than 300% over the last five years. By the way, I do not own any guns and I am not a gun enthusiast. But I am an enthusiast of making a profit!
        %p.prospectus_body
          Another example of creative research investing was my idea to look into social media in China. We all know about the explosive growth in the number of users of American social media companies like Facebook, LinkedIn and Twitter. But what about social media in other countries? In China there is an internet company called Sina which I invested in. I saw the potential for tremendous growth, as Sina owns Weibo.com, which is like the Twitter of China. As popular as social media is in the United States, it is even more important to the Chinese people. Because of their government’s history of censuring the news, Weibo is a way for individuals to have a voice and be heard. At the end of 2012, Weibo had 500 million registered accounts. To put that number into perspective, that is 200 million more accounts than the entire population of the United States! 2012 revenue from Weibo was $66 million. 2013 is projected to be $300 million and 2014 is projected to be $550 million. Sina’s stock is up 59% for the first 8 months of 2013.
      / .prospectus_sub_heading
      /   Contrarian Investing:
      - render_prospectus_sub_section 'Contrarian Investing', 'contrarian-investing' do
        %p.prospectus_body
          A third strategy I employ is contrarian investing. Here, I find solid, established companies that have fallen out of favor in the market. When I see fit, I go against the grain by buying out of favor and over-sold companies that are fundamentally sound.
        %p.prospectus_body
          An example of a contrarian investment was purchasing stock in Bank of America. Nobody wanted to touch this company in 2011 and the price did fall a lot during that year. Despite continuing decline in the stock price, I purchased shares in January, June and September of 2011 as well as February of 2012. In 2012, Bank of America came roaring back, more than doubling its value and now I am in a gain position. The price fell so far that it seemed like the only way it would not make a great investment is if it went out of business and it is just too big to do that. If the government would not let AIG go out of business during the mortgage meltdown then I reasoned that B of A would also survive and in the long run prosper. I have large holdings of B of A and I could easily see holding them for another ten years as I see them putting their mortgage problems behind them and the price going back to pre-mortgage meltdown prices. If I am correct, that would mean a quadrupling of its current price. Obviously, B of A is not a small cap company but I felt that it was oversold and the contrarian investor in me saw this as a good opportunity.
        %p.prospectus_body
          To quote Ben Graham from the frontispiece to Security Analysis, “Many shall be restored that are now fallen and many shall fall that are now in honor.” That is a nice summation of contrarian investing.

    / .prospectus_section
    /   %h3.prospectus_heading#history
    /     INVESTMENT HISTORY
    /   %p.prospectus_body#history
    /     (#{link_to('see the numbers', why_path)})
    - render_prospectus_section 'INVESTMENT HISTORY', 'investment-history' do
      %p.prospectus_body#history
        #{link_to('see the numbers', why_path)}
      - render_prospectus_sub_section 'Dot-Com Boom (1995-2001)', 'dot-com-boom' do
        %p.prospectus_body.with_example_stocks
          The market rebounded quickly from the Dot-Com crash. Over this 5 year period the S&P 500 gained an average of 13.2% while I continued to outperform the market gaining an average of 17.8% over the same period.
          - render_example_stock_section do
            - render_example_stock 'Desert Sun Mining (formerly DSM)', 'Gold mining' do
              Desert Sun was held for one year before being bought out by Yamana Gold (AUY) in April 2006. I sold Yamana two years later for a total gain of 442%.
            - render_example_stock 'Fossil (FOSL)', 'Consumer fashion accessories' do
              Fossil gained 130% in the 17 months ending October 2007 when I sold.
            - render_example_stock 'PacifiCare (formerly PHS)', 'Healthcare' do
              PacifiCare gained 63% in the two years ending September 2005 when UnitedHealth Group (UNH) acquired it.
      - render_prospectus_sub_section 'Dot-Com Bust (2002)', 'dot-com-bust' do
        %p.prospectus_body
          The dot-com bubble burst and the S&P 500 lost 22% in 2002. I lost a comparable 25% as well. 
      - render_prospectus_sub_section 'Dot-Com Recovery (2003-2007)', 'dot-com-recovery' do
        %p.prospectus_body
          The market rebounded quickly from the Dot-Com crash. Over this 5 year period the S&P 500 gained an average of 13.2% while I continued to outperform the market gaining an average of 17.8% over the same period.
      - render_prospectus_sub_section 'Mortgage Meltdown (2008-2010)', 'mortgage-meltdown' do
        %p.prospectus_body.with_example_stocks
          As mentioned earlier, over the last 19 years I have averaged a 15.8% annual return on investment, but I believe that actually understates my performance. During the stock meltdown of 2008 the investors that did the best were the ones that held on to their stocks. Unfortunately and understandably, many investors panicked and sold their stocks. By doing so they missed out on the 2009 and 2010 rebound. Not only did I not sell stocks at that time, I gritted my teeth and bought more stocks at the end of 2008. The market continued to tumble so I held my breath and continued to buy in early 2009. My thinking was that the market was very much oversold and that stocks were grossly undervalued. In March 2009, the market hit bottom. Because I had bought stocks when they were near the bottom, I completely recovered all my losses by the second quarter of 2010. Everything after that has been icing on the cake. Only now, six years later, has the market rebounded to its pre-crash highs. The 2008 mortgage market meltdown was actually good for me. It allowed me to opportunistically buy stocks at good values and my historical average annual return understates my performance because I was more fully invested during the 2009 and 2010 bounce back years.
          - render_example_stock_section do
            - render_example_stock 'Tyson Foods (TSN)', 'Meat products' do
              Bought in November 2008 and still hold. Currently, worth more than five times the amount I paid for it.
            - render_example_stock 'Esterline (ESL)', 'Aerospace engineering products' do
              Bought in November 2008 and sold in June 2013 at two and a half times what I paid for it.
            - render_example_stock 'Venoco (VQ)', 'Oil and natural gas' do
              Bought two separate times in January 2009 and again in February 2009. The company was acquired in October 2012 for more than six times the price I paid for it.

      - render_prospectus_sub_section 'Sustained Recovery & Expansion (2011-Present)', 'sustained-recovery-and-expansion' do
        %p.prospectus_body
          After strong years in 2009 and 2010 I did post a loss in 2011. However, 2012 saw continued recovery as the market and I both made similarly strong gains. 2013 is shaping up to be one of my best years ever. I would call it the year of the acquisition. As mentioned previously, I have had seven companies bought out this year. Because of the recession, companies spent less money and consequently, many are now cash rich. As we emerge out of the recession now, this is a perfect environment for mergers and acquisitions. I am not surprised by this activity, but still am very pleased to have had seven successful acquisitions in my portfolio on the year.

    - render_prospectus_section 'FEE STRUCTURE', 'fee-structure' do
      %p.prospectus_body
        The market rate for fees that most investment fund managers charge is 1% to 2% of assets managed plus 20% of gains in excess of 5-7%. I charge 1.25% of assets managed plus 10% of all gains.
      %p.prospectus_body
        By charging 10% instead of 20% and not having a threshold in order to make a 20% bonus I have removed some conflict of interest to shoot for the moon without consideration for safety. I will gradually invest your money over time. I will not let the bonus cause me to quickly dump your money into the market all at once and make risky or levered investments just so I can have a better chance of making more money for myself. I have no problem investing some money in safer, more reliable stocks while I am trying to make a bigger return in other areas. I will manage your investments the same way I manage mine. If anything, I will be more careful with your investments as I feel a great responsibility to take good care of your money. TD Ameritrade is my broker and they insure each account for up to $500 million.

    - render_prospectus_section 'SUMMARY', 'summary' do
      %p.prospectus_body
        I have over 19 years of investment experience with an excellent and proven track record of delivering 15.8% average annual returns to my clients. My investment principles are to choose simple, understandable investments over complex or exotic ones. I tend to buy and hold for many years, emphasizing the long term over the short term. My investment strategies are three-fold: Firstly, to buy undervalued stocks, particularly small caps which not only show more growth potential, but may also become acquisition targets. Secondly, creatively research the market, using my brain to figure out new trends before they happen. And thirdly, going against popular opinion by buying out of favor and over-sold companies that are fundamentally sound. My investment history shows that I have stayed consistent with my investment principles and strategies even when the market is in turmoil. Although market crashes make for very scary times, they have worked to my advantage.
      %p.prospectus_body
        As Warren Buffett once said, “Be greedy when others are fearful and be fearful when others are greedy.” If you want an experienced, nerves of steel, investment manager who has your investment goals as his primary objective, please come join the TULA Investment Group.
