- @body_id = 'references'
%title
  References | TULA

#references_container
  %h1
    Client References
  #contact_info
    %h2.contact_header
      James N. Kramer
    .contact_details
      Orrick, Herrington & Sutcliffe LLP
    .contact_details
      Partner - Securities Litigation & Regulatory Enforcement
    .contact_details
      405 Howard Street
    .contact_details
      San Francisco, CA 94105
    .contact_details
      Phone: 
      = link_to '(415) 773-5923', 'tel:(415) 773-5923'
    .contact_details
      Email: 
      = link_to 'jkramer@orrick.com', 'mailto:jkramer@orrick.com'
  #contact_info
    %h2.contact_header
      Paul Gertmenian
    .contact_details
      Henry Gertmenian Co.
    .contact_details
      President
    .contact_details
      1449 Mission Street
    .contact_details
      San Francisco, CA 94103
    .contact_details
      Phone: 
      = link_to '(415) 863-0377', 'tel:(415) 863-0377'
    .contact_details
      Email: 
      = link_to 'egertmenia@aol.com', 'mailto:egertmenia@aol.com'
