- @body_id = 'references'
%title
  References | TULA

#references_container
  #contact_info
    %h1.contact_header
      James N. Kramer
    .contact_details
      Orrick, Herrington & Sutcliffe LLP
    .contact_details
      Partner - Securities Litigation & Regulatory Enforcement
    .contact_details
      405 Howard Street
    .contact_details
      San Francisco, CA 94105
    .contact_details
      Phone: 
      = link_to '(415) 773-5923', 'tel:(415) 773-5923'
    .contact_details
      Email: 
      = link_to 'jkramer@orrick.com', 'mailto:jkramer@orrick.com'
  #contact_info
    %h1.contact_header
      John Doe
    .contact_details
      Some Company
    .contact_details
      Some Job
    .contact_details
      123 Main St.
    .contact_details
      San Francisco, CA 94105
    .contact_details
      Phone: 
      = link_to '(415) 773-5923', 'tel:(415) 773-5923'
    .contact_details
      Email: 
      = link_to 'jkramer@orrick.com', 'mailto:jkramer@orrick.com'
