- @body_id = 'terms'
%title
  Terms | TULA

#terms_container
  %h1
    Terms and Conditions
  %p 
    The terms and conditions of use set forth below apply to each page of this website (collectively, the “Site”).
  %p 
    Please read these terms and conditions of use carefully before using this Site. 
  %p
    TULA Investment Group, LLC is registered with the state of California as an investment advisor, but registration with an investment advisor does not imply any certain level of skill or training.
  %p
    This Site is limited to the dissemination of general information about the services provided by TULA Investment Group, LLC. This Site is intended for residents of the United States only and the information contained herein do not constitute and should not be construed as an offering of advisory services or an offer to sell or solicitation to buy any securities or related financial instruments in any jurisdiction in which such offer or solicitation, purchase or sale would be unlawful under the securities, or other applicable laws of such jurisdiction. Nothing contained on this Site constitutes tax or legal advice. 
  %p
    TULA Investment Group, LLC makes no representation, and it should not be assumed, that past investment performance is an indication of future results. Moreover, wherever there is the potential for profit there also is the possibility of loss. 
  %p
    While TULA Investment Group, LLC uses reasonable efforts to include accurate and up-to-date information on this Site, errors or omissions sometimes occur. TULA makes no warranties or representations as to the accuracy of this Site.
