/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 // COLORS.
 $orange: #FFA500;

// CONTAINERS.
html {
  height: 101%;
  // background-color: white;
}

html, body {
  margin: 0;
  padding: 0;
}

#all_content {
  min-width: 980px;
  background-color: black;
}

#container {
  margin: 0 auto;
  width: 980px;
}

#main {
  background-color: white;
  min-height: 600px;
  padding: 30px;
  overflow: auto;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 16px;
  line-height: 24px;
}

a {
  text-decoration: none;
}


#header {
  // Adjust or remove.
  height: 112px;
  padding-top: 28px;
  color: #BCBBBB;
  background-color: black;
  h1 {
    font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    margin: 0 0 10px 0;
    font-size: 40px;
    display: inline-block;
    padding-left: 10px;
  }
  h1 span {
    color: #FFA500;
    font-size: 50px;
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  }
  // NAVIGATION BAR.
  #nav_bar {
    // position: absolute;
    left: 0;
    right: 0;
    background-color: gray;
    ul {
      margin: 0 auto;
      width: 980px;
      padding: 10px 0px 10px 0px;
      // Eliminates the space between list items.
      font-size: 0;
      color: white;
      li {
        margin: 0;
        padding: 5px 30px 5px 30px;
        font-size: 20px;
        text-align: center;
        display: inline;
        list-style-type: none;
        border-left: 1px solid white;
      }
      li:hover {
        color: #FFA500;
      }
      .selected {
        color: #FFA500;
        pointer-events: none;
        cursor: default;
      }
      li#nav_home {
        border-left: none;
      }
    }
  }
  a,
  a:visited {
    color: inherit;
  }
}

#footer {
  padding: 20px 0 50px 0;
  margin: 0 auto;
  width: 980px;
  #foot_bar {
    margin: 0 auto;
    // Use this to center the following list items.
    display: table;
    ul {
      margin: 0px;
      padding: 0;
      color: gray;
      font-size: 0;
      li {
        list-style-type: none;
        display: inline;
        padding: 3px 40px 3px 40px;
        border-left: 1px solid gray;
        font-size: 16px;
      }
      li#foot_home {
        border-left: none;
      }
    }
  }
  a,
  a:visited {
    color: inherit;
  }
  #foot_note {
    margin-top: 30px;
    color: gray;
    text-align: center;
    font-size: 14px;
    a,
    a:visited {
      color: silver;
    }
  }
}

.left_column {
  float: left;
  width: 310px;
  background-color: blue;
}

.right_column {
  float: right;
  width: 600px;
  background-color:red;
}

#home {
  #main {
    padding: 0px;
  }
  #header {
    h1 span {
      color: #BCBBBB;
    }
  }
  #home_image {
    img {
      width: 100%;
      // Use this to eliminate the whitespace at the bottom of the image.
      display: block;
    }
  }
  #home_copy
  {
    padding: 30px;
  }
  #mission_statement {
    background-color: #F88017;
    padding: 20px 40px 20px 40px;
    margin: 0px;
    p {
      color: white;
      text-align: center;
      margin: 0;
      padding: 0;
      font-size: 18px;
    }
  }
}

#contact {
  .contact_header {
    margin: 0;
    font-size: 22px;
  }
  #contact_connect .contact_header {
    margin-bottom: 5px;
  }
  .contact_details {
    font-size: 18px;
    line-height: 22px;
  }
  #contact_info {
    margin-bottom: 30px;
  }
  img {
    margin-right:15px;
    height: 30px;
  }
}

#why_tula {
  canvas#myChart {
  }

  h1 {
    margin: 0px;
  }

  table.return {
    border: 2px solid black;
    border-collapse: collapse;
    td, th {
      border: 1px dotted black;
      border-left: 1px solid black;
      padding: 10px;
      width: 100px;
      text-align: center;
    }
    // td {
    //   text-align: center;
    //   padding-right: 20px;
    // }
    // tr td:first-child {
    //   text-align: center;
    //   padding-right: 10px;
    // }
    th {
      border-bottom: 2px solid black;
    }
    tr:last-child {
      font-weight: bold;
    }
    float: left;
  }

  table.percent {
    tr:last-child {
      border-top: 2px solid black;
    }
  }

  table.dollar {
    margin-left: 25px;
  }
}

#prospectus {
  padding-right: 100px;
  .prospectus_section {
    margin-bottom: 30px;
  }
  .prospectus_heading {
    margin: 0 0 5px 0;
  }
  .prospectus_heading#history {
    display: inline-block;
  }
  .prospectus_sub_heading {
    font-weight: bold;
    font-size: 18px;
    padding-left: 10px;
    text-decoration: underline;
    margin-top: 10px;
  }
  .prospectus_body {
    margin: 0 0 10px;
    padding-left: 10px;
  }
  .prospectus_body#history {
    margin: 0;
    padding: 0;
    display: inline;
  }
  a,
  a:visited {
    color: orange;
  }
}