body {
  background: black;
  height: 80%;
  margin: 0;
}
.coming_soon_text {
  margin: 0;
  height: 100%;
  width: 100%;
  color: #BCBBBB;
  text-align: center;
  vertical-align: middle;
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  h1 {
    font-size: 70px;
    margin: 0 0 10px 0;
  }
  h2 {
    font-size: 40px;
    margin: 0;
    color: white;
  }
}
